<!--
  Generated template for the RecipeSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recipe Search</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
    This is a Recipe Search page
<!--  <ion-searchbar (ionInput)="filterList($event)"-->
<!--                 [(ngModel)]="supplier"-->
<!--                 showCancelButton="always"></ion-searchbar>-->
  <div class="multiSelect">
    <label>Multiselect with custom ingredients</label>
    <p> {{message}}</p>
    <ion-card *ngIf="selectedValues.length !== 0" >
      <ul>
      <!--<div class="row">-->
     <li class="fa fa-close" style="display: inline; cursor: pointer "
        (click)="deleteSelected(data)" *ngFor ="let data of selectedValues" >
       {{data}}
     </li>
        </ul>
      <!--</div>-->
    </ion-card>

    <!--<ion-select [items]="cities2" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Select cities"-->
               <!--[(ngModel)]="selectedCityIds">-->
    <!--</ion-select >-->
    <ion-toolbar color='primary'>

    <ion-searchbar  [(ngModel)]="myInput"  (ionInput)="filterList($event)"></ion-searchbar>
      <ul id="myUL">
        <li  *ngFor="let inName of ingeredeientName" (click)="selectIngeredeientName(inName.name)"> {{inName.name}} </li>

      </ul>
    <button ion-button (click)="addCriteria()">



      Add  </button>
    </ion-toolbar>

    <ion-card>
      <button ion-button (click)="searchReceipies()">



        Find Receipe  </button>
    </ion-card>
  </div>
  <ion-card *ngIf="selectedValues.length !== 0">
    <p   *ngFor="let r of recipes">
      {{this.r.title}}
  </p></ion-card>
</ion-content>
