page-recipe-search {

  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .new-background-color{
    --background: #54d61c;
  }

  .button-md {
    background-color: #ae5210;
  }

  .button-clear-md {
    border-color: transparent;
    color: #488aff;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
  }
  //#ion-content{
  //  background-image: url('../../../assets/imgs/background-photo.jpeg');
  //}
}


